@media only screen and (max-width:1880px){

div .title-content{
	
	padding-bottom:170px;
}
}
@media only screen and (max-width:1880px){
div.about-content {

}
}
@media only screen and (max-width:1159px){
	.lg\:w-2\/3 {
    width: 96.666667%;
}
	div.service-title {
    padding: 0px 100px 50px 100px;
}
div.service-title p {
padding: 0 0px 36px 0;}

	div.title-content h1{
		font-size:45px;
	}
	
	
	div.title-content p{
		padding:0px;
	}
	div .choose-content.faderight.animate.two {
    margin-left: 40px;
}
}

@media only screen and (max-width:1047px){
div.social 	{
	
	display:none;
}
	
	
}
@media only screen and (max-width:1023px){
	
	div.contact-row{
		
		text-align:left;
	}
	footer.footer-section {
   
   margin-top:100px;
    
}
div.input-form {
max-width: 100%;

margin: auto;

}

div .contact-content{

	padding:133px 35px 176px 34px;
	
width:490px;
	border:1px solid #F9A34F;
}
div .footer-PAGES {
    margin: 0 40px;
}
div .footer-SERVICES {
    margin-left: 60px;
}

}
@media only screen and (max-width:991px){
ul.menu 	{
	
	display:none;
}

div.mobile-menu span{
	display:block;
	
}
	div .h-site-btn{
		display:none;
	}
	div .about-content p {
    padding: 0 0px 36px 0;
	
	}
	
	div .choose-content.faderight.animate.two {
    margin-left: 20px;
}
div .title-content h1 {
   
    padding: 20px 0px 10px 0px;
}
}

@media only screen and (max-width:899px){
div .Extensive1{
height:70px;

}

div .Extensive2{
height:70px;

}

div .Extensive1 span {
  
    line-height: 30px;
    font-size: 18px;
}
	div .Extensive2 span {
  
    line-height: 30px;
    font-size: 18px;
}
}
@media only screen and (max-width:767px){
div .choose-content{
	margin-top:50px;
}

div.title-content h1 {
    font-size: 40px;
}

div .abt-btn a {
   
margin-bottom: 70px;}
div .choose-content.faderight.animate.two {
    margin-left: 0px;
}
div .footer-PAGES {
    margin: 0 0 50px 0px;
	
}
div .footer-SERVICES {
    margin-left: 0px;
	  margin: 0 0 50px 0px;
}
}


@media only screen and (max-width:639px){
	footer.footer-section {
   
  text-align:center;
    
}
div.footer-menu ul li a {
   
   
    line-height: 53px;
}

div .about-content p {
padding: 0 0px 36px 0;}
}
@media only screen and (max-width:575px){
	div .contacr-icon{
	
	display:inline;
}
	div .contacr-icon img{
	
	margin:auto;
}
div .footer-box.footer-content img {
    margin: auto;
}	
}



@media only screen and (max-width:530px){
	
	div .copy p {
    text-align: center;
    padding: 0 100px 20px 100px;
}

div.footer-social.flex {
    padding: 0 130px;
}
div.contact-content {
    position: relative;
    margin: 180px 0px 0px 0px;
}
}
@media only screen and (max-width:447px){
	div .Extensive1 span {
  
    line-height: 30px;
    font-size: 18px;
}
	div .Extensive2 span {
  
    line-height: 30px;
    font-size: 18px;
}
}
@media only screen and (max-width:373px){
	div .title-content p {
    padding: 5px;
}
div .title-content h1 {
    font-size: 30px;
}
	
}
@media only screen and (max-width:360px){
	div .copy p {
    text-align: center;
    padding: 0 0px 20px 0px;
}
div .Extensive1 span{
	
	
   
	padding:10px 100px 10px 24px;

div.title-content h1 {
    font-size: 30px;
	line-height: 53px;
}
div .title-content .top-btn a {

    font-size: 18px;
    padding: 010px 16px 10px 16px;
}

div .abt-btn a {
   
    font-size: 18px;
   
    padding: 010px 016px 10px 016px;
  
}
div .about-content h2 {
    font-size: 40px;
}

div.service-title h2 {
font-size:40px;

}
div.service-title {
    padding: 0px 0px 50px 0px;
}


div .choose-content h2 {
   
  
    
    font-size: 40px;



}
	
	@media only screen and (max-width:287px){
		
		div.footer-menu {
    margin: 0 10px;
}
		div.footer-logo img {
    line-height: 40px;
    margin: -2px 10px 20px 40px;
}
	}

	
