


html{
	
	scroll-behavior:smooth;
}


#loading{
	
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100vh;
	background:black url('../img/f59876d316abc628202df9012706d68f.gif') no-repeat center;
	z-index:1000000000;
}


.scrollup  i{
		padding:10px 10px 15px 10px;
		animation:animate 1s linear infinite;
		
	}
	.scrollup:hover{
				color:white;
		text-decoration:none;
	}
	.scrollup{
		display:-webkit-flex;
		display:-moz-flex;
		display:-ms-flex;
		display:-o-flex;
		display:flex;
		justify-content:center;
		align-items:center;
		font-size:25px;
		color:white;
		text-decoration:none;
		transition:.5s;
		background:#000;
		position:fixed;
		bottom:16px;
		right:50px;
		width:51px;
		height:50px;
		border-radius:50%;
		opacity:0;
		z-index:100000;
		text-decoration:none;
	
		animation:animate 1s linear infinite;
	}
	
	.scrollup.active{
		
		bottom:32px;
		pointer-events:auto;
		opacity:1;
		transform:translateY(-55px);
	}
	
	
	
	.mobile-menu span{
	  
	    color: #000;
    font-size: 29px;
    display: none;
    margin-top: 5px;
right:10px !importent;
}

.mobile-menu span:hover{
	
	cursor:pointer;
}

.overlay{
	width:0%;
	height:100%;
	position:fixed;
	top:0;
	right:0;
	background-color:white;
	overflow:hidden;
	transition:all .5s;
	z-index:2000000;
}


.overlay a{
	
	text-decoration:none;
	display:block;
	font-size:25px;
	text-transform:uppercase;
	letter-spacing:3px;
	color:black;
	padding:1rem 0;
}
.overlay a:hover{
	color:white;
	
}
.overlay-content .active2{
	color:white;
}

.overlay .closebtn {
    position: absolute;
    
	margin-top:50px;
    right: 15px;
    font-size: 35px;
    color: black;
}
.overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 3rem;
	
}

.one{
	
	-webkit-animation-delay:0.2s;
	-moz-animation-delay:0.2s;
	animation-delay:0.2s;
}

.tow{
	
	-webkit-animation-delay:0.3s;
	-moz-animation-delay:0.3s;
	animation-delay:0.3s;
}

.three{
	
	-webkit-animation-delay:.4s;
	-moz-animation-delay:.4s;
	animation-delay:.4s;
}

.four{
	
	-webkit-animation-delay:2.7s;
	-moz-animation-delay:2.7s;
	animation-delay:2.7s;
}


.animate{
	-webkit-animation-delay:0.60s;
	animation-duration:0.60s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
	
}


@-webkit-keyframes fadeLeft{
	from{
		
		opacity:0;
		-webkit-transform:translate3d(-100%,0,0);
         transform:translate3d(-100%,0,0);
	}
	
	to{
		
		opacity:1;
			-webkit-transform:none;
         transform:none;
	}
	
}

@keyframes fadeLeft{
	from{
		
		opacity:0;
		-webkit-transform:translate3d(-100%,0,0);
         transform:translate3d(-100%,0,0);
	}
	
	to{
		
		opacity:1;
			-webkit-transform:none;
         transform:none;
	}
	
}

.fadeLeft{
		-webkit-animation-name:fadeLeft;
			animation-name:fadeLeft;
		
}





@-webkit-keyframes faderight{
	from{
		
		opacity:0;
		-webkit-transform:translate3d(100%,0,0);
         transform:translate3d(100%,0,0);
	}
	
	to{
		
		opacity:1;
			-webkit-transform:none;
         transform:none;
	}
	
}

@keyframes faderight{
	from{
		
		opacity:0;
		-webkit-transform:translate3d(100%,0,0);
         transform:translate3d(100%,0,0);
	}
	
	to{
		
		opacity:1;
			-webkit-transform:none;
         transform:none;
	}
	
}

.faderight{
		-webkit-animation-name:faderight;
			animation-name:faderight;
		
}


@-webkit-keyframes fadeUp{
	from{
		
		opacity:0;
		-webkit-transform:translate3d(0,100%,0);
         transform:translate3d(0,100%,0);
	}
	
	to{
		
		opacity:1;
			-webkit-transform:none;
         transform:none;
	}
	
}

@keyframes fadeUP{
	from{
		
		opacity:0;
		-webkit-transform:translate3d(0,100%,0);
         transform:translate3d(0,100%,0);
	}
	
	to{
		
		opacity:1;
	    -webkit-transform:none;
         transform:none;
	}
	
}

.fadeUP{
		-webkit-animation-name:fadeUP;
			animation-name:fadeUP;
		
}

@-webkit-keyframes fadeDown{
	from{
		
		opacity:0;
		-webkit-transform:translate3d(0,-100%,0);
         transform:translate3d(0,-100%,0);
	}
	
	to{
		
		opacity:1;
			-webkit-transform:none;
         transform:none;
	}
	
}

@keyframes fadeDown{
	from{
		
		opacity:0;
		-webkit-transform:translate3d(0,-100%,0);
         transform:translate3d(0,-100%,0);
	}
	
	to{
		
		opacity:1;
	    -webkit-transform:none;
         transform:none;
	}
	
}

.fadeDown{
		-webkit-animation-name:fadeDown;
			animation-name:fadeDown;
		
}