*
{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:'Poppins', sans-serif;
}

body{
	
    height:100vh;
    width:100%;
	background-size:cover;
	-webkit-background-size:cover;
	background-color:##FCFCFC;
	background-position:center center;
		font-family:'Poppins', sans-serif;
}
.container{
	max-width:1500px;
	margin:0 auto;  
	overflow:hidden;
	padding:0px 20px;
}
.container-contact{
	max-width:1171px;
	margin:0 auto;  
	overflow:hidden;
	padding:0px 20px;
}

/*container end*/



/*header start*/
.header-section{
	display:block;
	background:rgba(255,255,255,0.9);
	z-index:9999;
	
	
}
.main-menu .a{
	
	text-decoration:none;
	color:#000000;
	font-size:18px;
	line-height:27px;
	font-weight:600;
	font-family:Poppins;
	padding:0 26px 10px 26px;
}
.menu .a:before{
	content:'';
	position:absolute;
	left:50%;
	bottom:0;
	transform:translateX(-50%) scaleX(0);
	 -webkit-transform:translateX(-50%) scaleX(0);
	  -webkit-transform-origin:50% 50%;
	  transform-origin:50% 50%;
	width:100%;
	height:2px;
	background-color:#007D6F;
	transition:transform 250ms;
	-webkit-transition:transform 250ms;
}
.menu .a:hover:before{
	

   -webkit-transform:translateX(-50%) scaleX(1);
	transform:translateX(-50%) scaleX(1);
	
}
.title-content h1{
		font-size:58px; 
		line-height:81px;
		font-family:poppins;
		font-weight:bold;
		padding:20px 100px 5px 100px;
	}
.title-content p{
		font-size:18px;
		line-height:32px; 
		padding:15px 350px 70px 350px;
	}
.main-menu .a:hover{
	border-bottom:2px solid black;
	color:black;
	
}

.h-site-btn a{
	
	  font-size: 20px;
    line-height: 30px;
	font-family:Poppins;
    fill: #FFFFFF;
    color: #FFFFFF;
	margin-top:15px;
    background-color: #000000;
    border-style: solid;
    border-radius: 5px;
    padding: 12px 26px 12px 26px;
	text-decoration:none;
	font-weight:400;
	transition:all .4s;
	align-items:center;
	
}
.h-site-btn a:hover{
	
	 border: 3px solid #000;
	color: #000;
   background:transparent;
   box-shadow:0 0px 15px rgba(0,0,0,0.16);
}
.main-content{
	min-height:100vh;
	
	display:block;
	z-index:0;
}
.title-content{
	padding:200px 0 0 0;
	
	
}

.title-content .top-btn a{
	text-decoration:none;
    font-size: 20px;
    font-weight: 400;
    line-height: 100px;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #FFFFFF00;
    border: 3px solid;
    border-color: #FFFFFF;
    border-radius: 5px;
    padding: 012px 27px 12px 27px;
	transition:all .4s;
}


.title-content .top-btn a:hover{
	
	 border: 3px solid #FFFFFF;
	color: #000;
    background-color: #FFFFFF;
	box-shadow:0 0px 15px rgba(0,0,0,0.16);
}

/*header end*/

/*about start*/
.about-section{
	
	padding:144px 0 200px 0;
}
.about-content{
	margin-top:50px;
}

.about-content h2{
	padding:0 0px 0 0px;
	margin-bottom:32px;
	color:black;
	line-height:63px;
    font-size: 48px;

    font-weight: 700;
}
.about-content p{
	padding:0 120px 6px 0;
	color:#707070;
	line-height:30px;
    font-size: 16;
   
}
.abt-btn a{
	margin-top:40px;
    font-size: 20px;
    line-height: 30px;
	font-family:Poppins;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #000000;
    border-style: solid;
    border-radius: 5px;
    padding: 12px 26px 12px 26px;
	text-decoration:none;
	font-weight:400;
	transition:all .4s;
}
.abt-btn a:hover{
	 background-color:transparent;
    border: 3px solid black;
	
	color:black;
}
.Extensive1 span{
	
	border-top:1px solid rgba(112,112,112,0.4);
	border-right:1px solid rgba(112,112,112,0.4);
	border-bottom:1px solid rgba(112,112,112,0.4);
	color:#000;
	line-height:33px;
    font-size: 22px;
	font-weight:500;
	padding:10px 113px 10px 24px;
	margin-left:-5px;
	z-index:0;
}
.Extensive2 span{
	
	border-top:1px solid rgba(112,112,112,0.4);
	border-right:1px solid rgba(112,112,112,0.4); 
	border-bottom:1px solid rgba(112,112,112,0.4);
	color:#000;
	line-height:33px;
    font-size: 22px;
	font-weight:500;
	padding:10px 40px 10px 24px;
	margin-left:-5px;
	z-index:0;
}

	.Extensive1{
		
		margin:33px 0px;
	}
	.Extensive2{
		
		margin:33px 0px;
	}
	.Extensive img{
		
	z-index:10;
	}
	
	
	/*about end*/
	
	/*choose start*/
	.choose-content{
		padding-top:20px;
	}
.choose-content h2{
	padding:0 10px 0 0px;
	margin-bottom:32px;
	color:black;
	line-height:63px;
    font-size: 48px;
  
    font-weight: 700;
	
}
.choose-content p{
	padding:0 50px 36px 0;
	color:#707070;
	line-height:30px;
    font-size: 16;

	
}
/*choose end*/


/*service start*/
.service-section{
	
	margin:200px 0px;
}
.service-title{
	
	padding:0px 300px 80px 300px;
}
.service-title h2{
	color:black;
	line-height:63px;
    font-size: 48px;
   
    font-weight: 700;
}

.ser-cont span{
	color:#202020;
	line-height:35px;
    font-size: 23px;
   font-family:poppins;
	font-weight:500;
	margin-bottom:20px;
	
}

.ser-cont a{
	text-decoration:none;
	color:#C79E56;
	line-height:17px;
    font-size: 13px;
	font-weight:700;
	
}
.ser-content{
	background-color:white;
	
box-shadow:0 0px 15px rgba(0,0,0,0.12);
border-radius:2%;
margin-bottom:50px;
transition:all .4s linear;


z-index:0;}

.ser-cont{
	
	border-left:0.5px solid rgba(249,173,63,0.16);
		border-right:0.5px solid rgba(249,173,63,0.16);
			border-bottom:1px solid rgba(249,173,63,0.16);
			border-width:0.3px;
	padding:20px 22px;
}
.ser-col{
	position:relative;
	
}

/*service end*/


/*contact start*/

.contact-saetion{
	margin-bottom:131px;
}
.contact-content{
	
	position:relative;
	padding:133px 35px 176px 34px;
	background-color:white;
	
	border-top:1px solid #F9A34F;
	border-left:1px solid #F9A34F;
	border-bottom:1px solid #F9A34F;
}
.contact-content h2{
	color:#000;
	line-height:40px;
    font-size: 28px;
	font-weight:600;
	margin-bottom:10px;
}

.contact-content p{
	color:#707070;
	line-height:30px;
    font-size:16px;
	font-weight:400;
	
}


.input-form{
	max-width:100%;
	min-height:550px;
	background-color:#F6F6FC;
	padding:70px 43px 0px 43px;
		z-index:100;
		
}

.input-form input{
	max-width:100%;
	width:454px;
	height:55px;
	border:1px solid #030303;
	padding:10px 40px 10px 20px;
	outline:none;
	
	line-height:19px;
    font-size:14px;
	font-weight:400;
	margin-bottom:25px;
	background:#F6F6FC;
	border-radius:1%;
}
.input-form textarea{
	background:#F6F6FC;
	max-width:100%;
	width:454px;
	height:92px;
	border:1px solid #030303;
	padding:37px 40px 10px 20px;
	outline:none;
	color:#000000;
	line-height:19px;
    font-size:14px;
	font-weight:400;
	margin-bottom:25px;
	border-radius:1%;
}
::-webkit-input-placeholder
{

	color:#000000;
}

.submit-box .submit{

	max-width:189px;  transition:all .4s; border-radius:2%; background-color:black; color:white; font-size:16px; padding:0 0px 3px 0px; font-weight:400; font-family:poppins; margin-left:0px;
}
.submit-box .submit:hover{
	background-color:#343232;
	border:1px solid #343232;
}

/*contact end*/

/*footer  start*/
.footer-content{
	position:relative;
	
}
.footer-section{
	padding:97px 0 0 0;
	max-width:100%;
	min-height:468px;
	background-color:#F6F6FC;

z-index:0;
}
.footer-content p{
	padding-top:20px;
	color:##000000;
	line-height:34px;
    font-size:20px;
	font-weight:400;
}
.footer-SERVICES{
	margin-left:130px;
}
.footer-PAGES{
	margin:0 100px;
}

.footer-box h3{
	padding:20px 0;
	color:##000000;
	line-height:33px;
    font-size:22px;
	font-weight:600;
	
}
.footer-box li a{
	text-decoration:none;
	color:##000000;
	line-height:35px;
    font-size:18px;
	font-weight:400;
	
}
.footer-CONTACT li{
	color:##000000;
	line-height:30px;
    font-size:18px;
	font-weight:400;
	margin-top:px;
}
.footer-CONTACT img{
	height:28px;
	width:45px;
	padding:0px 15px 0px 0px;
	margin-top:5px;
}
.footer-copy  p{
	padding:50px 0px 40px 0px;
	color:##000000;
	line-height:35px;
    font-size:20px;
	font-weight:400;
	
}
.contacr-icon{
	
	display:flex;
}
/*footer end*/