
	
	
	p{
	
	font-size:150%;
	color:red;
}
.hero{
position:relative;
 overflow:hidden;
}

.tmi{
	border:10px solid black;
	background-image:url('img1.jpg');
	
}
.addStyle(){
	color:green;
	background-color:red;
}

 .button button{
		  
		  height:50px;
		  width:100px;
		  margin:20px;
	  }
	  .anim{
		  
		  box-shadow:0 15px 18px 0 tomato;
		  opacity:0.5;
	  }
	  .imgslide button{
		 position:absolute;
		  width:60px;
		  height:30px;
		  background-color:white;
		  border:none;
		  outline:none;
		  font-size:30px;
		  
		  
		  
		  
	  }
	  i{
		  position:absolute;
		  margin-bottom:0;
		  margin-top:250px;
		  margin-right:20px;
		  
		  color:red;
		  
	  }
	 .imgslide{
		 position:relative;
		 margin-left:0;
	 }
	 #redifaId{
		  font-size:3rem;
		  
	  }
	  
	  
	  body{
-webkit-background-size:cover;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
}

.header-area h2{

position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
width:100%;
text-align:center;
margin:0;
padding:0;
font-family:poppins;
font-size:4.5em;
}

.header-area h2 span{
color:black;
}